<a href="https://colab.research.google.com/github/mayocurm/CCINCOML_EXERCISES_COM23P/blob/main/EXERCISE_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 6

## Lists

1. Create a list

- The name of the new list should be  `month`

- The list should contain all the months in a year (January, February, March, April, May, June, July, August, September, October, November, December)

In [23]:
month = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
print(month)

['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

2. Display an element

- Display the fourth element 'April' in the `month` list

In [24]:
month = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
month [3]

'April'

3. Slice the list

- Use slicing to get the last 4 months of the year of (September, October, November, December) of the `month` list

In [17]:
month = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
month[8:]

['September', 'October', 'November', 'December']

- Use slicing to get the first 4 months of the year (January, February, March, April) of the `month` list

In [21]:
month = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
month[:4]

['January', 'February', 'March', 'April']

4. List Methods

- Get the size of the month list using the `len()` method

In [22]:
month = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
print(len(month))

12

- Get the element with the largest value of the month list using `max()`

In [25]:
month = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
print(max(month))

September

- Get the element with the smallest value of the month list using `min()`

In [26]:
month = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
print(min(month))

April

- Sort the months of the year by alphabetical order using the `sorted()` function

In [27]:
month = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
print(sorted(month))

['April', 'August', 'December', 'February', 'January', 'July', 'June', 'March', 'May', 'November', 'October', 'September']

## Tuple

1. Create a tuple with only three elements, the elements are:

- Your month of birth in integers
- Your day of birth in integers
- Your year of birth in integers

Use tuple unpacking to directly assign the month, day, year variable to each elements in your tuple.

In [28]:
month, day, year = 8, 10, 2005
print("Date of Birth: " + str(month) + "/" + str(day) + "/" + str(year))

Date of Birth: 8/10/2005

## Set

1. The list below contains a number of a products of a computer store. Notice that there are duplicate values.

In [ ]:
products = ["laptop", "smartphone", "tablet", "mouse" ,"powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"]

The difference between a list and a set is that a list allows duplicate values. One way to remove duplicates is to convert a list into a set.

Convert the `products` list into a set

In [30]:
products = ["laptop", "smartphone", "tablet", "mouse" ,"powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"]
prod = set(products)
print(prod)

{'monitor', 'headphones', 'tablet', 'projector', 'keyboard', 'smartphone', 'laptop', 'speakers', 'printer', 'mouse', 'powerbank'}

2. Verify if "headphones" exists in the `products` set  using the `in` operator

In [31]:
products = ["laptop", "smartphone", "tablet", "mouse" ,"powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"]
print("headphones" in products)

True

## Dictionaries

1. Create a dictionary of your favorites

- Keys should be the type
- Values should be the sample from that type

Example:

food: friedchicken

color: blue

sport: badminton

drink: mangojuice

dessert: cheesetart

In [37]:
favorites = {"Series": 'How to Get Away with Murder', "Food": 'Seafood', "Color": 'Navy Blue', "Sport": 'Voleyball', "Drink": 'Buko Juice'}
print(favorites["Series"])
print(favorites["Food"])
print(favorites["Color"])
print(favorites["Sport"])
print(favorites["Drink"])

How to Get Away with Murder
Seafood
Navy Blue
Voleyball
Buko Juice

## Loops

1. Write a for loop to iterate all elements of the `month` list. Print each element for every iteration.

In [39]:
month = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
for x in month:
  print(x)

January
February
March
April
May
June
July
August
September
October
November
December

2. Write a for loop and add a condition to only display the elements in the `month` list that ends with "ber"

In [48]:
month = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
for x in month:
  if x.find("ber") > 0:
    print(x)

September
October
November
December

3. Write a for loop and add a condition to only display the elements in the `month` list that does not end with "ber"

In [50]:
month = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
for x in month:
  if x.find("ber") < 0:
    print(x)

January
February
March
April
May
June
July
August

4. Write a for loop and use `range()` to display your firstname five times

In [56]:
for _ in range(5):
  print("Jezlyn Mae")

Jezlyn Mae
Jezlyn Mae
Jezlyn Mae
Jezlyn Mae
Jezlyn Mae

5. Write a for loop that iterates over the names list to create a usernames list.

To create a username for each name, make everything lowercase and replace spaces with underscores. Running your for loop over the list:

Example:

names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]

should create a new list

usernames = ["joey_tribbiani", "monica_geller", "chandler_bing", "phoebe_buffay"]

In [89]:
names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]
usernames = []
for x in names:
  usernames.append(x.lower().replace(' ', '_'))
print(usernames)

['joey_tribbiani', 'monica_geller', 'chandler_bing', 'phoebe_buffay']

6. Write a while loop to iterate throught the `month` list

- Break the loop if the element ends with "ber"

In [103]:
month = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
for month in month:
  print(month)
  if month.find('ber') > 0:
    break

January
February
March
April
May
June
July
August
September

## Functions

1. Write a python function named population_density that takes two arguments, population and land_area, and returns a population density calculated from those values.

The population density can be calculated using this formula:

population_density = population/land_area

In [14]:
population = input("Enter Population: ")
land_area = input("Enter Land Area: ")

def population_density(population, land_area):
  return population/land_area

  density = population_density(population, land_area)
print("Density: " + str(density))

Enter Population: 1000
Enter Land Area: 200
Density: 20.0

2. Write an `averagesteps()` function to compute the average the number of steps you take every day.

- The function should accept a list and compute the average of all elements inside the list

- Create a list with seven elements. The values in the list are your average steps your take everyday.

- Pass the list to the function and call the function

In [24]:
steplist = [450, 550, 650, 750, 850, 950, 1050]

def averagestep(list):
  sum = 0
  for x in list:
    sum = sum + x

  return sum/7

  averagestep(list)